@import url('https://fonts.googleapis.com/css2?family=Foldit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: 'Ubuntu', sans-serif;
}

#navbar{
    position: fixed;
    top: 10px;
    width: 100%;
    background-color: rgb(231, 231, 231);
}
.nav-link{
    margin: 0 50px 0 20px;
    font-family: 'Foldit', cursive;
    background: -webkit-linear-gradient(#178b57, #00a0fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 26px;
}
.nav-link:hover{
    background: -webkit-linear-gradient(#09af64, #00a0fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#containe_nav ul li a{
    color: rgb(0, 0, 0); 
}
#NameMenu{
    font-family: 'Foldit', cursive;
    background: -webkit-linear-gradient(#2AF598, #009EFD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 44px;
}
#Menu{
    font-family: 'Foldit', cursive;
    background: -webkit-linear-gradient(#2AF598, #009EFD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:26px;
}
#Menu:hover{
    background: -webkit-linear-gradient( #0082d2,#14c475);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#ContainerPrinc{
    background-color: #767f853d;
    margin-top: 110px;
    height: auto;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.078);
}
#ContainerPrinc h1{
    background: -webkit-linear-gradient(#2AF598, #009EFD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    cursor: pointer;
}
#ContainerPrinc h1 span:hover{
    background: -webkit-linear-gradient( #013c61,#01693a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#ContainerPrinc svg{
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 60px;
}
#ContainerPrinc svg:hover{
    border: 1px solid rgb(1, 45, 115);
}
#ContainerPrinc p {
    color: #013c61;
}
.button{
    margin: 20px 0 30px 0;
    border-radius: 20px;
    width: 251px;
    height: 50px;
    background-color: #263138d8;
    color: #ffffff;
    border: none;
}
.contaiIcons{
    background-color: #53697917;
    border-radius: 30px;
    width: 100px;
    height: 35px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
.contaiIcons a{
    text-decoration: none;
}
.ImgPrinc{
    width: 350px;
}
#footer{
    margin-top: 30px;
    width: 100%;
    padding: 50px 0 40px 0;
    background-color: rgb(231, 231, 231);
}
.textfooter{
    font-family: 'Courgette', cursive;
    text-decoration: none
}
#ImgPerfio{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.ContainerInter{
    text-align: center;
}
.IconSkill{
    width: 25px;
}
.Skill{
    margin: auto;
    padding: 10px;
}
.boxInter p{
    font-size: smaller;
    margin-top: auto;
    margin-left: 80px;
}
.navEdit{
    margin: 10px;
    padding: 7px 10px;
    border-radius: 10px;
    border: none;
    
}
.nav-pills .active{
    background-color: #559da2;
    color: rgb(250, 244, 235);
}
button:focus {
    outline: none !important;
}
#pills-tab{
    margin-top: 30px;
}
.tab-pane{
    padding: 10px ;
}
.card-profile img{
    border-radius: 30px;
    opacity:50%;
}
.campoProj .card{
    background-color: transparent;
    border-radius: 30px;
}
.campoProj h5{
    cursor:pointer;
    color: #000;
    font-size: 26px;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #ffffff9a;

}
.elemento-container {
    position: relative;
    overflow: hidden;
}
.elemento {
    background-color: #000; 
    transition: opacity 0.5s ease;
}
.elemento:hover {
    opacity: 1;
}
.elemento img {
    object-fit: cover;
}
.campoIconsProfile{
    position:absolute;
    top: 10px;
    right:10px;
}    
.campoProj{
    --bs-gutter-x: 0.5rem !important;
    --bs-gutter-y: 0.5rem !important;
}
.campoIconstool{
    position:relative;
    width: 100%;
    align-items: center;
}
.svgS{
    margin: 40px 0 20px 0;
    border-radius: 0 !important;
}
.svgS:hover{
    border:none !important;
}
.poesia small, h4{
    color: #02314e;
    font-weight:bolder;
}
body {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

button#theme-toggle {
    background-color: #ffffff; /* Cor de fundo do botão no tema claro */
    color: #000000; /* Cor do texto no tema claro */
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 80px;
    height: 36px;
    border-radius: 50px;
    margin-right: 0;
    transition: background-color 0.3s ease;
    border: #5554582e 0.5px solid;
}
#dark{
    margin: 0 5px;
    height: 27px;
    width: 27px;
    background-color: #ffffff;
    border-radius: 50px;
    border: #5554582e 0.5px solid;
}
body.dark-theme #dark{
    margin-left: auto ;
}
body.dark-theme {
background-color: #1f1f1f;
}

body.dark-theme button#theme-toggle {
background-color: #000000b0;
color: #ffffff;
}
body.dark-theme #navbar{
    background-color: #1f1f1f;
}
body.dark-theme .txtEsplica{
    color: #f1f1f1 !important;
}
body.dark-theme .campoProj h5{
    color: #fffbfb;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #271a1a9a;
}
body.dark-theme #footer{
    background-color: #0b0b0b;
}
body.dark-theme #footer p,body.dark-theme #ContainerPrinc p,body.dark-theme #ContainerPrinc h2,
body.dark-theme #ContainerPrinc h4, body.dark-theme #ContainerPrinc small{
    color: #f1f1f1;
}
body.dark-theme .contaiIcons{
    background: -webkit-linear-gradient(#2af59ab1, #009cfd88);
}